* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.hide {
    display: none !important;
}
.top_container {
    padding: 0px 100px;
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: flex-start;
    overflow-x: hidden;
}
.top_container::after {
    content: " ";
    width: inherit;
    height: inherit;
    background-color: rgb(216, 0, 0);
    opacity: 20%;
    position: absolute;
    right: 0px;
}
.logo a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: cursive;
}
.icon {
    color: white;
    width: 60px;
}
.logo,
.icons {
    z-index: 6;
    margin-top: 20px;
}
.login_buttom .btn_submit {
    width: 100%;
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
}
h2 {
    font-size: 50px;
    padding: 15px 0;
}
.menu_tab {
    color: white;
    background-color: #cc604c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 128px;
    height: inherit;
    width: inherit;
    padding: 20px;
    transition: 0.1s all ease-in;
    right: -280px;
}
.text {
    position: absolute;
    color: white;
    font-size: 140px;
    z-index: 7;
    text-align: left;
    width: 60%;
    padding: 0 0px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tab_view {
    right: 50px;
}
.menu_tab a {
    color: white;
    text-decoration: none;
}
.dish_item {
    width: 300px;
    height: 350px;
    margin: 15px;
}
.dish_name {
    font-size: 25px;
}
.dish_price {
    font-size: 20px;
}
.place_order {
    background-color: #cc604c;
    color: white;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 30px;
    margin-top: 10px;
}
.place_order:hover {
    background-color: #fff;
    color: #cc604c;
}
.dishes_section_1,
.dishes_section_2 {
    width: 80%;
}
.pdishes_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.popular_dishes,
.ordered_dishes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 50px;
    width: 100%;
    height: inherit;
}
.orders_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h2 {
    color: black;
}
h3 {
    color: black;
}
.dish_img {
    width: 300px;
}
.footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #cc604c;
    color: white;
    margin-top: 40px;
    padding-top: 60px;
    font-size: 25px;
}
form label {
    padding: 10px 0px 5px;
}
#Register {
    text-decoration: none;
    color: black;
}
form {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -50px;
    justify-content: center;
    align-items: flex-start;
    -ms-text-combine-horizontal: 0;
}
.payment_form {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}
.payment_form label {
    margin-right: 10px;
}
input[type="radio"] {
    width: 25px;
    height: 25px;
}
.paymentMeth {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.sign_up_form form {
    align-items: flex-start !important;
}

.form_input {
    height: 60px;
    border: black solid 1px;
    width: 100%;
    margin-bottom: 20px;
}
.form_input::placeholder {
    font-size: 30px;
    padding-left: 20px;
    color: #2062c2;
}
.payment,
.proceed {
    width: 100%;
    height: 50px;
    font-size: 30px;
    background-color: #cc604c;
    border: none;
    color: white;
}
.form_input[type="text"],
.form_input[type="email"],
.form_input[type="password"],
.form_input[type="select"],
select,
option {
    border-radius: 0;
    font-size: 30px;
    padding-left: 20px;
}
.about_section {
    width: 60%;
    font-size: 50px;
}
.btn_submit {
    width: 300px;
    height: 60px;
    margin: auto;
    margin-top: 30px !important;
    font-size: 30px;
    background-color: #cc604c;
    color: white;
    margin-bottom: 10px;
    border: none;
}
.sign_in_btn {
    background-color: #cc604c;
    border-radius: 5px;
    color: white;
    width: 100%;
    border: none;
    height: 50px;
    margin: 20px 0;
    font-size: 30px;
}

.home_container {
    height: 1330px;
    width: 1300px;
    background-image: url("bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.take_me_home {
    text-decoration: none;
    color: white;
}
